@charset "UTF-8";

/* 汎用パーツ */

.box0 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #FFF;
    border-radius: 10px;/*角の丸み*/
}

.box0 p {
    margin: 0; 
    padding: 0;
    border: solid 1px #FFF;
    border-radius: 10px;/*角の丸み*/
}


.slide {
    width: 90%;
    margin: 20 auto;
    padding: 20;
    border: solid 1px #777777;
    border-radius: 10px;/*角の丸み*/
}

.slide img {
    width: 90%;
    height: auto;    
}




/*背景（吹き出し）*/
.line-bc {
 margin: 2em auto;
 padding: 1em 1.5em;
 width: 90%; /*幅の調節*/
 color: #777777; /* 文字色 */
 background-color: #fff; /* 背景色 */
 border: 4px solid #777777; /*線の太さ・色*/
 font-size: 16px;
}

/*吹き出し（共通パーツ）*/

.balloon_l,
.balloon_r{
  margin: 10px 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; /*縦位置を上揃え*/
/*   align-items: center; */ /*縦位置を真ん中揃え*/
}

.faceicon {
  width:12%;
}

.faceicon img{
  max-width: 100%; /* 任意のサイズ */
  height: auto;
}


/*吹き出し（ねずボット）*/

.balloon_r{
  justify-content:flex-end;
}

.balloon_r .faceicon{
  margin-left:25px;
}

.balloon_l .faceicon{
  margin-right:25px;
}

.balloon_r .faceicon{
  order:2 !important;
}


.says_l {
  font-weight: bold;
  width:70%; /*最大幅は任意*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #CCEFFF;/*色は任意*/
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
/*   align-items: center; */
}

.says_l p{
  margin:8px 0 0 !important;
}
.says_l p:first-child{
  margin-top:0 !important;
}

.says_l:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
/*   margin-top:-3px;  */
}

.balloon_l .says_l:after {
  left: -26px;
  border-right: 22px solid #CCEFFF;
}


/*吹き出し（ロボにゃん）*/
.says_r {
  font-weight: bold;
  width:70%; /*最大幅は任意*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #ffe4e1;/*色は任意*/
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
/*   align-items: center; */
}
.says_r p{
  margin:8px 0 0 !important;
}
.says_r p:first-child{
  margin-top:0 !important;
}
.says_r:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
/*   margin-top:-3px;  */
}
.balloon_r .says_r:after {
  right: -26px;
  border-left: 22px solid #ffe4e1;
}




